<div id="notifications" v-cloak>
  <masthead></masthead>
  <div class="container-fluid">
    <h5 class="pt-4">
      <strong>Notification history</strong>
    </h5>
    <hr>
    <table class="notifications-table table table-striped" v-if="notifications.length > 0">
      <thead class="thead-light">
        <tr>
          <th scope="col">Alert</th>
          <th scope="col">Channels</th>
          <th scope="col">Recipients</th>
          <th scope="col">Sent</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="notification in notifications">
          <td>{{notification.description}}</td>
          <td>{{notification.displayChannels}}</td>
          <td>{{notification.displayRecipients}}&ensp;
           <bootstrap-tooltip placement="top" :text="notification.tooltipHtml" data-html="true" v-if="notification.recipients.length > 2"><i class="fa fa-info-circle text-muted"></i></bootstrap-tooltip>
          </td>
          <td><js-timestamp :at="notification.createdAt"></js-timestamp></td>
        </tr>
      </tbody>
    </table>
    <div v-else class="bg-light">
      <p class="text-center p-5">None of your alerts have been triggered.</p>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
